/* *{
    box-sizing: border-box;
} */

body{
    background: #FAFAFA;
    font-family: Roboto;
}

header{
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size : 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.seus-quizes, .todos-os-quizes {
    width: 1200px;
    height: 217px;
    border-radius: 5px;
    margin-top: 77px;
}

.com-quiz {
    display: flex;
    overflow-x: scroll;
    overflow-wrap:unset;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.todos-os-quizes>.com-quiz {
    flex-wrap: wrap;
}

.imagens {
    background-color: midnightblue;
    width: 380px;
    height: 181px;
    margin: 7px 6px;
    border-radius: 5px;
    position: relative;
}

.imagens .legenda {
    position: relative;
    top: 150px;
    left: 17px;
    color: #ffffff;
}

.sem-nehum-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 77px;
}

.sem-nehum-quiz>p{
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    margin-bottom: 22px;
}

.sem-nehum-quiz button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
    background-color: #ffffff;
}

/* .sem-nehum-quiz>p,.sem-nehum-quiz>h2, .sem-nehum-quiz, body>h1, body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
}

h1>.sem-nehum-quiz{
    background-color: blue
}

.sem-nehum-quiz>p{
    color: #B9B9B9;
    width: 250px;
    height: 107px;
}

.todos-os-quizes{
    margin-top: 77px;
    width: 1051px;
    height: 410px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    display: flex;
}

.todos-os-quizes>ul{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    border: #000000 solid 1px;
    margin: 12px 0px;
    margin-right: 12px;
}
ul>a{
    width: 100px;
    height: 100px;
    background-color: #EC362D;
} */