body{
    background: #FAFAFA;
    font-family: Roboto;
}
header{
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size : 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.corConteudo2{
    background-color: #e5e5e5;
}

.conteudo {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-left: 6px;
}

/* Tela 1 */

.seus-quizes, .todos-os-quizes {
    width: 1061px;
    height: 220px;
    border-radius: 5px;
    margin-top: 77px;
}

.quizes {
    height: 340px;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}

.imagens img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;   
}

.imagens {
    background-color: midnightblue;
    width: 340px;
    height: 181px;
    margin: 7px 6px;
    border-radius: 5px;
    position: relative;
}

.imagens .legenda {
    position: absolute;
    top: 136px;
    left: 17px;
    color: #ffffff;
    z-index: 1;
}

.sem-nehum-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 77px;
}

.sem-nehum-quiz>p{
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    margin-bottom: 22px;
}

.sem-nehum-quiz button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
    background-color: #ffffff;
}

.conteudo>.quizes-usuario{
    height:195px;
    display: flex;
    overflow:auto;


}
.primeiro{
    margin-top: 105px;
}
.conteudo>.quizes-usuario,.conteudo>.titulo{
    width:1220px;
}
/* Tela 2 */

.titulo-quiz {
    /* position: fixed; */
    top: 69px;
    background-color: midnightblue;   /* remover */
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
}
.imagem-titulo {
    
}

.titulo-imagem {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
}

.caixa-perguntas {
    box-sizing: border-box;
    height: 676px;
    width: 759px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 21px auto;
    padding: 27px 35px;
}

.titulo-pergunta {
    height: 138px;
    width: 688px;
    background-color: #434CA0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixa-respostas {
    width: 330px;
    height: 217px;
    background-color: aqua; /* remover */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700px;
}

.resposta-imagem, .resposta-imagem>img {
    background-color: orange; /* remover */
    width: 330px;
    height: 175px;
}