* {
    box-sizing: border-box;
  }

body{
    background: #FAFAFA;
    font-family: Roboto;
}
header{
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size : 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.corConteudo2{
    background-color: #e5e5e5;
}

.conteudo {
    margin-top: 69px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.todos-os-quizes>h1{
    text-align: start;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-left: 6px;
}

/* Tela 1 */

.seus-quizes, .todos-os-quizes {
    width: 1061px;
    height: 220px;
    border-radius: 5px;
    margin-top: 77px;
}

.titulo ion-icon {
    color: #EC362D;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.quizes {
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.imagens img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;   
}

.imagens {
    width: 340px;
    height: 181px;
    margin: 7px 6px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.imagens .legenda {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
    position: absolute;
    top: 150px;
    left: 17px;
    color: #ffffff;
    z-index: 1;
    text-shadow: 1px 1px 2px #000000
}

.sem-nehum-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-top: 77px;
}

.sem-nehum-quiz>p{
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    margin-bottom: 22px;
}

.sem-nehum-quiz button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;
    background-color: #ffffff;
    cursor: pointer;
}

.conteudo>.quizes-usuario{
    height:195px;
    display: flex;
    overflow:auto;
}
.primeiro{
    margin-top: 105px;
}
.conteudo>.quizes-usuario,.conteudo>.titulo{
    width:1220px;
}

/* Tela 2 */

.titulo-quiz {
    top: 69px;
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imagem-titulo{
    position: absolute;
}

.imagem-titulo, img {
    width: 100%;
    height: 227px;
}

.titulo-imagem {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000000;
    background-image: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.conteudo>.caixa-perguntas {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 676px;
    width: 759px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 69px auto;
    padding: 27px 35px;
}

.titulo-pergunta {
    height: 138px;
    width: 688px;
    background-color:#EC362D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000000
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixa-respostas {
    width: 330px;
    height: 217px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700px;
}

.resposta-imagem {
    width: 330px;
    height: 175px;
    cursor: pointer;
    margin: 6px;
}

.resposta-legenda {
    word-break: break-all;
    width: 330px;
    font-weight: 700;
    text-align: start;
    font-size: 19px;
}

.resposta-imagem >img {
    width: 330px;
    height: 175px;
}


/* Tela 3 */

.caixa-inputs{
    width: 600px;
    background-color: #ffffff ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    margin: 12px auto;
}

.criacao {
    margin: 80px 0 20px 0;
    font-size: 23px;
}

.cor-de-fundo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #BABABA;
    font-weight: 400px;
    font-style: italic;
    font-size: 14px;
}

.cor-de-fundo input {
    width: 100px;
}

input, .cor-de-fundo {
    width: 552px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 15px;
    margin: 5px 0;
}

::placeholder {
    font-weight: 400px;
    font-style: italic;
    color: #BABABA;
}

.botao-criar {
    margin-top: 60px;
    padding: auto 120px;
    min-width: 300px;
    height: 54px;
    color: #FFF5F4;
    font-size: 21px;
    font-weight: 400;
    background: #EC362D;
    border-radius: 15px;
}

.recolhida {
    height: 60px;
    flex-direction: row;
    align-items: center;    
}

.recolhida ion-icon {
    width: 26px;
    height: 26px;
}

.opaco{
    opacity: 30%;
}

.voltar {
    
    border: none;
    background-color: transparent;
    font-size: 21px;
    color: #818181;
    margin: 10px auto;
    cursor: pointer;
}

.imagem-com-titulo>img{
    position: relative;
}
.texto-da-imagem{
position:absolute;
}

@media (max-width: 1100px) {
    .todos-os-quizes>h1{
        text-align: center;
    }
    .titulo{
        text-align: center;
    }

    input{
        width: 100%;
    }

    .recolhida {
        height: 60px;
        width: 92vw;;
        flex-direction: row;
        align-items: center;    
    }
    .total-mente{
        width: 92vw;
    }

    .seus-quizes, .todos-os-quizes {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sem-nehum-quiz {
        width: 100%;
        margin: 77px auto auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quizes {
        width: 360px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        overflow: scroll;
    }

    .caixa-perguntas, .titulo-pergunta, .titulo-quiz, .respostas, .conteudo>.titulo {
        width:100% ;
    }

    .botao-criar, .cor-de-fundo, .resultado, .caixa-inputs{
        width: 92vw;
    }

    .resultado {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

